<nav id="navbar">
	<div class="left">
		<a id="site-title" href="/">Movie Site</a>
		<form class="search-box" method="GET" action="/search">
			<input type="search" name="title" placeholder="Search" aria-label="Search">
			<button type="submit">Search</button>
		</form>
		<a id="advanced-search-link" href="/search">advanced search</a>
	</div>
	<div class="right">
		<% if (isLoggedIn) { %>
			<span>Logged in as <%= locals.userName %> <a href="/logout">logout</a></span>
		<% } else { %>
			<a href="/register">Register</a>
			<span>&nbsp;or&nbsp;</span>
			<a href="/login?cont=<%= currentURL %>">login</a>
		<% } %>
	</div>
</nav>
