<!doctype html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/navbar %>

	<div class="wrapper">
		<h2>Recent shows</h2>

		<div class="show-list">
		<% shows.forEach(function(show) { %>
			<%- include('../partials/show', { show: show }) %>
		<% }); %>
		</div>
	</div>
</body>
</html>