<!doctype html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/navbar %>

	<div class="toolbar">
		<div class="toolbar-option">
			<label>Sort</label>
			<select>
				<option>Recent</option>
				<option>Highest Rating</option>
			</select>
		</div>
	</div>

	<div class="show-list">
    <% shows.forEach(function(show) { %>
		<%- include('../partials/show', { show: show }) %>
	<% }); %>
	</div>
</body>
</html>